* {
    box-sizing: border-box;
}

html {
    height: 100%;

}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    overflow: hidden;
    background-image: linear-gradient(to bottom left, #175D69, #310E44);
}


.open-sans-medium {
    font-weight: 500;
}

#universal-container {


    height: 100%;

}


#nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;


}



.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-grow: .5;
    padding: 40px 0px 0px 0px;
    align-self: center;

}



.nav-bar a {
    margin: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color .5s;

}

#nav-title {
    color: white;
    flex-grow: .5;
    text-align: center;
    font-size: 40px;
    padding: 30px 0px 0px 0px;
    align-self: center;
}

.nav-bar-content-right {
    flex-grow: 1;
    text-align: center;

}

.nav-bar a.sign-up-btn {
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 8px;
    transition: color .5s, border .5s;
}

#header {
    display: flex;
    justify-content: center;
}

.header-content {
    color: white;
    width: 50%;
    padding: 150px 0px 0px 125px;
}

.header-content h1 {
    font-size: 40px;
}

.header-content-paragraph {
    width: 100%;
}

.header-content-button {
    margin: 15px 20px 5px 0px;
    padding: 14px 25px;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 16px;

}

.button1 {
    padding: 14px 35px;
    background-color: #47B3E4;
    border: none;
}

.button2 {
    background-color: transparent;
    transition: background .5s;
}

.header-image {
    width: auto;
    padding: 50px 0px 0px 0px;
}

.nav-bar a.active {
    color: #5AA5D3;
}

.nav-bar a:hover {
    color: #5AA5D3;

}

.nav-bar .nav-bar-content-right .sign-up-btn:hover {
    border: 1px solid #5AA5D3;
}

#header .button2:hover {
    background-color: #47B3E4;
    border: none;
}



.dropdown-icon span {
    display: block;
    background-color: white;
    width: 35px;
    height: 4px;
    margin: 0px 0px 5px 0px;
    transition: background .2s;

}

.dropdown-icon {
    margin: 44px 0px 0px 50px;
    display: none;
    cursor: pointer;
}

/* 

.dropdown-navbar .dropdown-navbar-content,
.dropdown-navbar-content-right {
    color: white;
    display: block;
    text-decoration: none;
    width: 100px;
    text-align: center;

}

.dropdown-navbar-content a,
.dropdown-navbar-content-right a {
    color: white;
    display: block;
    text-decoration: none;
    width: 100px;
    text-align: center;
    background-color: brown;
}

.dropdown-navbar {
    display: none;
    position: absolute;
    width: auto;
    z-index: 1;
    margin: 5px 0;
    width: 100%;
    left: 530px;
    top: 20px;

}

.dropdown-icon:hover .dropdown-navbar {
    display: block;
} */

.dropdown-icon:hover span {
    background-color: #5AA5D3;
}




@media screen and (max-width: 1122px) {

    body,
    html {
        overflow: auto;
        margin: 0;
        width: auto;

    }

    .nav-bar {
        display: none;
    }

    #nav-title {
        font-size: 30px;
        flex-grow: .1;
    }

    .dropdown-icon {
        display: block;
        margin: 38px 30px 0px 100px;
        padding: 0 0 0 0;
    }

}

@media screen and (max-width: 920px) {
    .heading {
        padding: 150px 0px 0px 40px;
    }

    .header-image {
        width: 100px;
    }
}

@media screen and (max-width: 890px) {
    #header {
        flex-direction: column;
        width: 100%;
    }

    .heading {
        width: 100%;
    }

    .header-image {
        width: 100%;
        text-align: center;
    }

    .header-content-btns {
        text-align: center;
    }

    .header-content-paragraph {
        text-align: center;
        width: 100%;
    }

    .header-content-paragraph p {
        width: 490px;
        margin: 10px auto;
    }

    .heading {
        text-align: center;
        padding: 100px 0 0 1px;
    }
}

@media screen and (max-width: 500px) {
    .header-content-paragraph p {
        width: 100%;
    }

    .header-image img {
        width: 317px;
        height: 283px;
    }

    .header-image {
        padding: 20px 0 0 0;
    }

    .dropdown-icon {
        margin: 20px 15px 0 0;
    }

    #nav-title {
        padding: 10px 0 0 10px;
    }

    .heading {
        padding: 100px 0 0 1px;
    }
}